{% extends "base.html" %}
{% block title %}Профиль — LyPay{% endblock %}
{% block content %}

<div class="card">
    <h1>Профиль пользователя</h1>
    <div class="avatar-section">
        <img
            src={{avatar}}
            alt="Аватар"
            class="avatar"
        >
        {% if is_self %}
        <form action="/profile/avatar" method="post" enctype="multipart/form-data" style="margin-top: 10px;">
            <input type="file" name="file" accept="image" required>
            <button type="submit">Обновить аватар</button>
        </form>
        {% endif %}
    </div>

    {% if request.query_params.message %}
    <div class="message">{{ request.query_params.message }}</div>
    {% endif %}
    {% if request.query_params.error %}
    <div class="error">{{ request.query_params.error }}</div>
    {% endif %}
    <table>
        {% for key, value in user.items() %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}