{% extends "base.html" %}
{% block title %}Главная — LyPay{% endblock %}
{% block content %}
<img src="/static/yarmarka.jpg" alt="Ярмарка" style="width: 100%">
<div class="card">
    <p style="font-size: 1.1rem; line-height: 1.7; margin:0;">
        🎈 Приветствуем на открытии сайта банка электронных тугриков Благотворительной Ярмарки Л2Ш “LyPay”!
    </p>
    <p style="font-size: 1.1rem; line-height: 1.7; margin: 20px 0;">
        Мы с Ярмаркой уже 3 года и успели провести через себя более 800 тыс. тугриков. Каждую Ярмарку мы стараемся
        упрощать работу продавцам и организаторам, ускоряем многие процессы, просто лишаем покупателей надоедливой
        налички :)
    </p>
    <p style="font-size: 1.1rem; line-height: 1.7; margin: 20px 0;">
        Предыдущие 2 года система существовала на основе telegram чат-ботов, но в этом году было принято решение
        перейти на собственный сайт. Оно несёт в себе много сложностей, поэтому мы будем благодарны любому
        вашему фидбеку и оповещению о проблемах/багах. По любым таким вопросам и для получения тех.поддержки можно
        написать <a href="https://t.me/IGriB28I" target="_blank">@IGriB28I</a> или на почту <a
            href="mailto:lypay@sch2.ru">lypay@sch2.ru</a>.
    </p>
    <p style="font-size: 1.1rem; line-height: 1.7; margin: 20px 0; text-align: center; font-weight: bold;">
        Увидимся на Ярмарке 23 мая!
    </p>
    <img src="/static/nikita.jpg" alt="Никита"
         style="width: 50%; display: block; margin-left: auto; margin-right: auto;">
</div>
{% endblock %}
